*{ box-sizing: border-box;}

html{ scroll-behavior: smooth;}

nav{ 
    display: flex;
    background-color: white;
    position: fixed;
    width: 100%;
    flex-wrap: wrap;
    justify-content: space-between;
}

nav>img{
    display: flex;
    flex-direction: row;
    width: 8em;
}

ul>li::marker{
    content: "";
}

nav>ul{
    display: flex;
    justify-content: space-between;
}

nav>ul>li{
    display: flex;
    align-self: center;
    padding: 5px;
}

.fa-bars{
    align-self:center;
    padding-right: 2em;
}

.fa-times{
    display: none;
}

main {
    background-color: #DEDEDE;
    text-align: center;
}

header>img{
    width: 100%;
    display: block;
    margin: auto;
}

header{
    text-align: justify;
    padding-top: 3em;
}

footer>ul{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

footer>ul:first-child{
    font-weight: bold;
}

main div:first-child>button{
    color: blue;
}

header>button{
    color: white;
    background-color: blue;
}

main div:last-child>button{
    color: white;
    background-color: blue;
}

footer>div:last-child{
    background-color: #F5F5F5;
}

footer>div:last-child>ul>li{
    padding: 5px;
}


@media (max-width: 768px){    
    header{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(5,1fr);
    }

    header>button{
        padding: 1em;
    }

    main>div{
        display: grid;
        grid-template-columns: 1fr;
        gap: 1em;
        grid-template-rows: repeat(9,2fr);
    }

    nav>ul>li{
        display: none;
    }

    .fa-bars{
        display:flex;
    }

    main:last-child{
        display: grid;
    }

    main>div>img{
        width: 60%;
        padding-left: 1em;
        display: block;
        margin: auto;
    }

    footer>div:first-child{
        display: grid;
        gap: 1em;
        grid-template-columns: repeat(2,1fr);
        grid-template-rows: 1fr 1fr 1fr;
    }

    footer>div:first-child>img{
        grid-column-start: 1;
        grid-column-end: 3;
    }

    footer>div:last-child>ul{
        display: flex;
        justify-content: space-around;
        align-content: center;
    }

    footer>div:last-child>div{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr;
    }

    footer>div:last-child>div>img{
        grid-column-start: 2;
        grid-column-end: 3;
        width: 3em;
        justify-self: center;
        align-self: center;
    }

    footer>div:last-child>div>span{
        grid-column-start: 3;
        grid-column-end: 4;
        justify-content: center;
        align-content: center;
    }

    #fa-chevron-down{
        grid-column-start: 3;
        grid-column-end: 4;
    }

     #fab{
         display: flex;
         flex-wrap: wrap;
         justify-content: space-between;
         align-content: center;
    }
    
}

@media (min-width: 768px) and (max-width: 961px){

    nav>img{
        display: flex;
        flex-direction: row;
        width: 9em;
    }

    nav>ul>li{
        display: none;
    }
    
    .fa-bars{
        display:flex;
    }
 

    header{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 6em 1fr 30px ;
    }

    header>h1{
        grid-column-start: 1;
        grid-column-end: 4;
        font-size: 4em;
        text-align: center;      
    }

    header>p{
        grid-column-start: 1;
        grid-column-end: 4;
        padding: 3em;
        text-align: justify;
    }

    header>input{
        grid-column-start:1;
        grid-column-end: 2;
    }

    header>button{
        grid-column-start:2;
        grid-column-end: 3;

    }

    header>img{
        grid-column-start:1;
        grid-column-end: 4;
    }

     main>div{
        display: grid;
        gap: 1em;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: repeat(6,1fr);
    } 

    main>div>h2{
        text-align: center;
        grid-column-start: 1;
        grid-column-end: 3;
    }

    main>div>p{
        text-align: center;
        grid-column-start: 1;
        grid-column-end: 3;
    }

    main>div>button{
        text-align: center;
        grid-column-start: 1;
        grid-column-end: 3;
    }


    main>div>img{
        width: 60%;
        padding-left: 1em;
        display: block;
        margin: auto;
    }

    footer>div:first-child{
        display: grid;
        gap: 1em;
        grid-template-columns: repeat(5,1fr);
        grid-template-rows: 1fr;
    }

    footer>div>img:first-child{
        align-self: center;
        grid-column-start: 1;
        grid-column-end: 2;
    }

    footer>div:last-child{
        display: flex;
        width: 100%;
        flex-wrap: wrap;
    }

    footer>div:last-child>ul{
        display: flex;
        justify-content: space-around;
        flex-direction: row;
    }

    footer>div:last-child>div>img{
        width: 3em;
    }

    footer>div:last-child>div{
        display: flex;
        justify-content: space-between;
        align-content: space-between;
        padding-left: 25%;
    }

}

@media (min-width: 960px) and (max-width: 1024px){
    nav>img{
        display: flex;
        flex-direction: row;
        width: 9em;
    }

    nav>ul{
        display: flex;
    }

    nav>ul>li{
        display: none;
    }

    .fa-bars{
        display:flex;
    }

    header{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 6em 1fr 30px ;
    }

    header>h1{
        grid-column-start: 1;
        grid-column-end: 4;
        font-size: 4em;
        text-align: center;      
    }

    header>p{
        grid-column-start: 1;
        grid-column-end: 4;
        padding: 3em;
        text-align: justify;
    }

    header>input{
        grid-column-start:1;
        grid-column-end: 2;
    }

    header>button{
        grid-column-start:2;
        grid-column-end: 3;

    }

    header>img{
        grid-column-start:1;
        grid-column-end: 4;
    }

    main div:first-child{
        display: grid;
        gap: 1em;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: repeat(5,1fr);
    } 

    main div:first-child>h2{
        text-align: center;
        grid-column-start: 1;
        grid-column-end: 4;
    }

    main div:first-child>p{
        text-align: center;
        grid-column-start: 1;
        grid-column-end: 4;
    }

    main div:first-child>button{
        text-align: center;
        grid-column-start: 1;
        grid-column-end: 4;
    }

    main>div>img{
        width: 60%;
        padding-left: 1em;
        display: block;
        margin: auto;
    }

    footer>div:first-child{
        display: grid;
        gap: 1em;
        grid-template-columns: repeat(5,1fr);
        grid-template-rows: 1fr;
    }

    footer>div:first-child>img{
        align-self: center;
        grid-column-start: 1;
        grid-column-end: 2;
    }

    footer>div:last-child{
        display: flex;
        width: 100%;
        flex-wrap: wrap;
    }

    footer>div:last-child>ul{
        display: flex;
        justify-content: space-around;
        flex-direction: row;
    }

    footer>div:last-child>div>img{
        width: 3em;
    }

    footer>div:last-child>div{
        display: flex;
        justify-content: space-between;
        align-content: space-between;
        padding-left: 30%;
    }

    footer>div:last-child>div>span{
        display: flex;
        justify-self: center;
        align-self: center;
        padding: 2px;
    }

    footer>div:last-child>div>i{
        display: flex;
        justify-self: center;
        align-self: center;
        padding: 2px;
    }

}

@media (min-width: 1024px){
    nav>img{
        display: flex;
        flex-direction: row;
        width: 9em;
    }

    nav>ul{
        display: flex;
        justify-content: space-around;
        align-content: space-around;
    }

    nav>ul>li{
        display: flex;
        justify-content: space-around;
        align-content: space-around;
    }

    .fa-bars{
        display: none;
    }

    header{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 2fr 1fr 1fr 1fr ; 
    }

    header>img{
        grid-row-start: 1;
        grid-row-end: 6;
    }

    main div:first-child{
        display: grid;
        gap: 1em;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: repeat(5,1fr);
    } 

    main div:first-child>h2{
        text-align: center;
        grid-column-start: 1;
        grid-column-end: 4;
    }

    main div:first-child>p{
        text-align: center;
        grid-column-start: 1;
        grid-column-end: 4;
    }

    main div:first-child>button{
        text-align: center;
        grid-column-start: 1;
        grid-column-end: 4;
    }

    main>div>img{
        width: 60%;
        padding-left: 1em;
        display: block;
        margin: auto;
    }

    main div:last-child{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr;
    }

    footer>div:first-child{
        display: grid;
        gap: 1em;
        grid-template-columns: repeat(5,1fr);
        grid-template-rows: 1fr;
    }

    footer>div:last-child{
        display: flex;
        width: 100%;
        flex-wrap: wrap;
    }

    footer>div:last-child>ul{
        display: flex;
        justify-content: space-between;
        align-items: space-between;
        flex-direction: row;
        flex-wrap: wrap;
    }

    footer>div:last-child>div>img{
        width: 3em;
    }

    footer>div:last-child>div{
        display: flex;
        justify-content: space-between;
        align-content: space-between;
        padding-left: 60%;
    }

    footer>div:last-child>div>span{
        display: flex;
        justify-self: center;
        align-self: center;
        padding: 2px;
    }

    footer>div:last-child>div>i{
        display: flex;
        justify-self: center;
        align-self: center;
        padding: 2px;
    }
}